.A-content{
    display: flex;
    gap: 40px;
    padding: 0 70px;
}
.A-content textarea{
    width: 100%;
}
.A-Description-cont, .A-RectorComments-cont{
    width: 50%;
}

.A-middle-section{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 64px;
    margin-top: 30px;
}
.A-toQuote-Box{
    background: #6b6b6b;
    width: 200px;
    height: 170px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column ;
    gap: 10px;
    border-radius: 4px;
    padding: 14px;
}
.A-title-op, .A-pdf-name, .A-btn-view{
    color: #ececec;
}
.A-title-op{
    font-size: 20px;
    font-weight: 500;
}
.A-btn-pdf-cont{
    display: flex;
    gap: 5px;
}
.A-btn-download, .A-btn-view{
    border-radius: 4px;
}
.A-btn-view{
    background: #1287D6;
    width: 80px;
}
.A-btn-download{
    background: #ED4B4B;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}   
/*  */

.A-down-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 30px;
    gap: 30px;
}
.A-operative-comments-txt{
    font-size: 24px ;
    font-weight: 600;
}
.A-operative-comments-in{
    border-radius: 4px;
    height: 150px;
    width: 400px;
}
.A-chose-cont{
    background: #6b6b6b60;
    height: 143px;
    width: 173px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.A-chose-title{
    font-size: 24px ;
    font-weight: 600;
}
.A-chose-option{
    width: 100%;
    display: flex;
    height: 28px;
    box-shadow: 2px 2px 2px #3d3d3d;
    border-radius: 2px;
    gap: 5px;
}
.A-radio-chose{
    width: 20px;
}
/*  */
.A-btnCont{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.A-btnOptions{
    display: flex;
    gap: 30px;
}
.A-btnClear,.A-btnSend{
    border-radius: 4px;
    height: 38px;
    font-size: 20px;
    color: #ececec;
}
.A-btnClear{
    width: 170px;
    background: #6b6b6b;
}
.A-btnSend{
    width: 155px;
    background: #ED4B4B;
}
.A-pdf-name{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Número de líneas deseadas */
    -webkit-box-orient: vertical;
    text-align: center;
}