.users-container{
    padding: 0 20px;
    width: 100%;
    margin-top: 20px;
}
.userCont{
    backdrop-filter: blur(10px);
    background: #6b6b6b33;
    padding: 10px;
}
.users-card-container{
    list-style: none;
    display: grid;
    gap: 5px;
}
.user-card{
    display: flex;
    align-items: center;
    gap: 5px;
}
.users-head{
    position: relative;
    margin-bottom: 10px;
}
.user-refresh-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    border: 2px solid #6b6b6b;
    border-radius: 4px;
    padding: 0 10px;
}
.user-refresh-btn:hover, .admin-op:hover{
    transition: all 0.2s ease;
    box-shadow: 2px 2px 4px #6b6b6b;
}
.user-refresh-btn span{
    font-size: 20px;
    text-align: center;
    color: #6b6b6b;
    
}
.user-infoCont{
    background: #6b6b6b33;
    padding: 5px 10px;
    border-radius: 4px;
    gap: 5px;
    display: flex;
    width: 100%;
}
.user-id{
    font-weight: 500;
}
.user-div{
    font-weight: 500;
}
.admin-op-container{
    display: flex;
    gap: 5px;
}
.admin-op{
    background: #6b6b6b33;
    padding: 8px 8px;
    border-radius: 4px;
    cursor: pointer;
}
.AO-delBtn{
    color: #ececec;  
    padding: 2px 10px;
    border-radius: 4px;

}
.AO-btn-cansel{
    background: #1287D6;
}
.AO-btn-del{
    background: #ED4B4B;  
    margin-left: 10px;
}
.updateCont{
    width: 100%;
    display: flex;
    justify-content: center;
}
.updateUserCont{
    height: 280px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upd-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    padding: 10px;
    border-radius: 2px;
    backdrop-filter: overlay(10px) ;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    width: 500px;
}
.upd-form input {
    background: #6b6b6b69;
    border: none;
    border-radius: 2px;
    font-size: medium;
    width: calc(100% - 8px);
    padding: 4px;
    color: rgba(255, 255, 255, 0.816);
}
.upd-form input::placeholder{
    color: #ffffff;
}
.upd-form input:focus{
    color: #ffffff;
    transition: all 0.15s ease-in-out;
    background: linear-gradient(273deg, #1287D6 24.2%, #1287D680 107.05%);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.upd-form .btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.hide{
    display: none;
}